openapi: 3.0.3
info:
  title: Konnect API
  version: 2.0.0
  description: The Konnect platform API
  contact:
    name: Kong
    url: https://konghq.com
    email: support@konghq.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://global.api.konghq.com/v2
  - url: https://us.api.konghq.com/v2
  - url: https://eu.api.konghq.com/v2
    description: Production
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://docs.konghq.com
paths:
  /control-planes:
    parameters: []
    post:
      x-speakeasy-entity-operation: GatewayControlPlane#create
      summary: Create Control Plane
      operationId: create-control-plane
      responses:
        '201':
          $ref: '#/components/responses/CreateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '409':
          $ref: '#/components/responses/ControlPlaneConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Control Planes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlPlaneRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/CreateControlPlaneRequestExample'
      description: Create a control plane in the Konnect Organization.
  /control-planes/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: id
        in: path
        required: true
        description: The control plane ID
    get:
      x-speakeasy-entity-operation: GatewayControlPlane#read
      summary: Fetch Control Plane
      responses:
        '200':
          $ref: '#/components/responses/RetrieveControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '404':
          $ref: '#/components/responses/ControlPlaneNotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: get-control-plane
      description: Returns information about a team from a given team ID.
      tags:
        - Control Planes
    patch:
      x-speakeasy-entity-operation: GatewayControlPlane#update
      summary: Update Control Plane
      operationId: update-control-plane
      responses:
        '200':
          $ref: '#/components/responses/UpdateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '404':
          $ref: '#/components/responses/ControlPlaneNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Update an individual control plane.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateControlPlaneRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/UpdateControlPlaneRequestExample'
      tags:
        - Control Planes
    delete:
      x-speakeasy-entity-operation: GatewayControlPlane#delete
      summary: Delete Control Plane
      operationId: delete-control-plane
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '404':
          $ref: '#/components/responses/ControlPlaneNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Delete an individual control plane.
      tags:
        - Control Planes
  /control-planes/{controlPlaneId}/core-entities/consumers:
    post:
      description: Create a new Consumer
      operationId: create-consumer
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: Successfully created consumer
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Invalid Consumer
      summary: Create a new Consumer
      tags:
        - Consumers
      requestBody:
        $ref: '#/components/requestBodies/consumer-request'
      x-speakeasy-entity-operation: Consumer#create
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  /control-planes/{controlPlaneId}/core-entities/consumers/{consumer_id}:
    delete:
      description: >-
        Delete a specific consumer from the system using either the consumer ID or the consumer username. This operation is irreversible and permanently removes all data associated with the specified consumer. If the consumer was deleted succesfully the endpoint will return a 204 response indicating that the resource did not exist.
      operationId: delete-consumer
      responses:
        '204':
          description: Successfully deleted Consumer or the resource didn't exist
      summary: Delete a Consumer
      tags:
        - Consumers
      x-speakeasy-entity-operation: Consumer#delete
    get:
      description: >-
        Retrieve the details of a specific consumer in the system using either the consumer ID or the consumer username. If the consumer with the specified ID or username cannot be found, the endpoint will return a 404.
      operationId: get-consumer
      responses:
        '200':
          $ref: '#/components/responses/consumer-create-response'
        '404':
          description: Resource does not exist
      summary: Fetch a Consumer
      tags:
        - Consumers
      parameters:
        - $ref: '#/components/parameters/pagination-offset'
        - $ref: '#/components/parameters/pagination-size'
        - $ref: '#/components/parameters/pagination-tags-filter'
      x-speakeasy-entity-operation: Consumer#read
    put:
      description: >-
        Create or Update Consumer using ID or username. The consumer will be identified via the username or id attribute.If the consumer with the specified ID or username cannot be found, the endpoint will return a 404.


        When the username or id attribute has the structure of a UUID, the Consumer being inserted/replaced will be identified by its id. Otherwise it will be identified by its username.


        When creating a new Consumer without specifying id (neither in the URL nor in the body), then it will be auto-generated.


        Notice that specifying a username in the URL and a different one in the request body is not allowed.
      operationId: upsert-consumer
      responses:
        '200':
          $ref: '#/components/responses/consumer-response-data'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      summary: Update a Consumer
      tags:
        - Consumers
      requestBody:
        $ref: '#/components/requestBodies/consumer-request'
      x-speakeasy-entity-operation: Consumer#update
    parameters:
      - $ref: '#/components/parameters/consumer_id'
      - $ref: '#/components/parameters/controlPlaneId'
  /control-planes/{controlPlaneId}/core-entities/plugins:
    post:
      description: Create a new Plugin.
      operationId: create-plugin
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Successfully created plugin
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Invalid Plugin
      summary: Create a new Plugin
      tags:
        - Plugins
      requestBody:
        $ref: '#/components/requestBodies/plugin-request'
      x-speakeasy-entity-operation: Plugin#create
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  /control-planes/{controlPlaneId}/core-entities/plugins/{plugin_id_or_instance_name}:
    delete:
      description: Delete a Plugin
      operationId: delete-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
      summary: Delete a Plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: Plugin#delete
    get:
      description: Get a Plugin using ID.
      operationId: get-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Successfully fetched Plugin
        '404':
          description: Resource does not exist
      summary: Fetch a Plugin
      tags:
        - Plugins
      parameters:
        - $ref: '#/components/parameters/pagination-offset'
        - $ref: '#/components/parameters/pagination-size'
        - $ref: '#/components/parameters/pagination-tags-filter'
      x-speakeasy-entity-operation: Plugin#read
    put:
      description: Create or Update Plugin using ID.
      operationId: upsert-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
              examples:
                example:
                  value:
                    config:
                      anonymous: null
                      hide_credentials: false
                      key_in_body: false
                      key_in_header: true
                      key_in_query: true
                      key_names:
                        - apikey
                      run_on_preflight: true
                    enabled: true
                    id: 3fd1eea1-885a-4011-b986-289943ff8177
                    name: key-auth
                    protocols:
                      - grpc
                      - grpcs
                      - http
                      - https
          description: Successfully upserted Plugin
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Invalid Plugin
      summary: Upsert a Plugin
      tags:
        - Plugins
      requestBody:
        $ref: '#/components/requestBodies/plugin-request'
      x-speakeasy-entity-operation: Plugin#update
    parameters:
      - $ref: '#/components/parameters/plugin_id_or_instance_name'
      - $ref: '#/components/parameters/controlPlaneId'
  /control-planes/{controlPlaneId}/core-entities/routes:
    post:
      description: Create a new route
      operationId: create-route
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
          description: Successfully created route
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Invalid route
      summary: Create a new route
      tags:
        - Routes
      requestBody:
        $ref: '#/components/requestBodies/route-request'
      x-speakeasy-entity-operation: Route#create
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  /control-planes/{controlPlaneId}/core-entities/routes/{route_id}:
    delete:
      description: Delete a route.
      operationId: delete-route
      responses:
        '204':
          description: Successfully deleted route or the resource didn't exist
      summary: Delete a route
      tags:
        - Routes
      x-speakeasy-entity-operation: Route#delete
    get:
      description: Get a route using ID or name.
      operationId: get-route
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
          description: Successfully fetched route
        '404':
          description: Resource does not exist
      summary: Fetch a route
      tags:
        - Routes
      parameters:
        - $ref: '#/components/parameters/pagination-offset'
        - $ref: '#/components/parameters/pagination-size'
        - $ref: '#/components/parameters/pagination-tags-filter'
      x-speakeasy-entity-operation: Route#read
    put:
      description: Create or Update route using ID or name.
      operationId: upsert-route
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
          description: Successfully upserted route
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Invalid route
      summary: Update a route
      tags:
        - Routes
      requestBody:
        $ref: '#/components/requestBodies/route-request'
      x-speakeasy-entity-operation: Route#update
    parameters:
      - name: controlPlaneId
        in: path
        required: true
        schema:
          type: string
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        description: >-
          The ID of your control plane. This variable is available in the Konnect manager
      - schema:
          type: string
        name: route_id
        in: path
        required: true
        x-speakeasy-match: id
  /control-planes/{controlPlaneId}/core-entities/services:
    post:
      description: Create a new service
      operationId: create-service
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  connect_timeout:
                    type: integer
                  created_at:
                    type: integer
                  enabled:
                    type: boolean
                  host:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  path:
                    type: string
                  port:
                    type: integer
                  protocol:
                    type: string
                  read_timeout:
                    type: integer
                  retries:
                    type: integer
                  updated_at:
                    type: integer
                  write_timeout:
                    type: integer
                x-examples:
                  Example 1:
                    connect_timeout: 6000
                    created_at: 1684437851
                    enabled: true
                    host: example.com
                    id: ebf4e826-b17a-4e23-9d58-2621c9faa135
                    name: my-service
                    path: /some_api
                    port: 80
                    protocol: http
                    read_timeout: 6000
                    retries: 5
                    updated_at: 1684437851
                    write_timeout: 6000
              examples:
                http service creation:
                  value:
                    connect_timeout: 6000
                    created_at: 1684437851
                    enabled: true
                    host: example.com
                    id: ebf4e826-b17a-4e23-9d58-2621c9faa135
                    name: my-service
                    path: /some_api
                    port: 80
                    protocol: http
                    read_timeout: 6000
                    retries: 5
                    updated_at: 1684437851
                    write_timeout: 6000
          description: Successfully created service
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Invalid service
      summary: Create a new service
      tags:
        - Services
      requestBody:
        $ref: '#/components/requestBodies/service-request'
      x-speakeasy-entity-operation: Service#create
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  /control-planes/{controlPlaneId}/core-entities/services/{service_id}:
    delete:
      description: Delete a service
      operationId: delete-service
      parameters:
        - description: ID or name of the service to delete
          in: path
          name: service_id
          required: true
          schema:
            type: string
          x-speakeasy-match: id
      responses:
        '204':
          description: Successfully deleted service or the resource didn't exist
      summary: Delete a service
      tags:
        - Services
      x-speakeasy-entity-operation: Service#delete
    get:
      description: Get a service using ID or name.
      operationId: get-service
      responses:
        '200':
          $ref: '#/components/responses/service-response'
        '404':
          description: Resource does not exist
      summary: Fetch a service
      tags:
        - Services
      parameters:
        - $ref: '#/components/parameters/pagination-offset'
        - $ref: '#/components/parameters/pagination-size'
        - $ref: '#/components/parameters/pagination-tags-filter'
      x-speakeasy-entity-operation: Service#read
    put:
      description: Create or Update service using ID or name.
      operationId: upsert-service
      responses:
        '200':
          $ref: '#/components/responses/service-response'
        '400':
          content:
            application/json:
              schema:
                type: object
          description: Invalid service
      summary: Upsert a service
      tags:
        - Services
      requestBody:
        $ref: '#/components/requestBodies/service-request'
      x-speakeasy-entity-operation: Service#update
    parameters:
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/controlPlaneId'
  /api-products:
    post:
      x-speakeasy-entity-operation: ApiProduct#create
      summary: Create API Product
      description: >
        An API Product packages together associated APIs and their operations, backed by thorough documentation,

        with the objective of making API consumption straightforward for developers.

      operationId: create-api-product
      responses:
        '201':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductRequest'
  /api-products/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: id
        in: path
        required: true
        description: API product identifier
    get:
      x-speakeasy-entity-operation: ApiProduct#read
      summary: Fetch API product
      description: Returns an API product.
      operationId: get-api-product
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
    patch:
      x-speakeasy-entity-operation: ApiProduct#update
      summary: Update an individual API product
      description: Updates an API product.
      operationId: update-api-product
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductRequest'
    delete:
      x-speakeasy-entity-operation: ApiProduct#delete
      summary: Delete API Product
      description: Removes an individual API product.
      operationId: delete-api-product
      responses:
        '204':
          description: API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
  /api-products/{apiProductId}/product-versions:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: apiProductId
        description: The API Product ID
        in: path
        required: true
    post:
      x-speakeasy-entity-operation: ApiProductVersion#create
      summary: Create API Product Version
      description: Creates a version of an API product.
      operationId: create-api-product-version
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductVersionNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionRequest'
  /api-products/{apiProductId}/product-versions/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: apiProductId
        description: The API product identifier
        in: path
        required: true
      - schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        name: id
        description: The API product version identifier
        in: path
        required: true
    get:
      x-speakeasy-entity-operation: ApiProductVersion#read
      summary: Fetch API Product Version
      description: Returns a version of an API product.
      operationId: get-api-product-version
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
    patch:
      x-speakeasy-entity-operation: ApiProductVersion#update
      summary: Update an API Product Version
      description: Updates an API product version.
      operationId: update-api-product-version
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductVersionNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionRequest'
    delete:
      x-speakeasy-entity-operation: ApiProductVersion#delete
      summary: Delete API Product Version
      description: Removes an API product version.
      operationId: delete-api-product-version
      responses:
        '204':
          description: API product version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
  /portals/{portalId}:
    x-speakeasy-entity-operation: Portal#read
    parameters:
      - $ref: '#/components/parameters/PortalId'
    patch:
      x-speakeasy-entity-operation: Portal#create,update
      summary: Update Portal
      description: >-
        Updates the configuration for a single portal including the visibility, access, and custom domain settings.
      operationId: update-portal
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortal'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
                UpdatePortalBadRequestExample6:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample6'
                UpdatePortalBadRequestExample7:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample7'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/authentication-settings:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-speakeasy-entity-operation: PortalAuth#read
      summary: Get Auth Settings
      description: >-
        Returns the developer authentication configuration for a portal, which determines how developers can log in and how they are assigned to teams.
      operationId: get-portal-authentication-settings
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      x-speakeasy-entity-operation: PortalAuth#create,update
      summary: Update Auth Settings
      description: >-
        Updates the developer authentication configuration for a portal. Developers can be allowed to login using basic auth (email & password) or use Single-Sign-On (SSO) through an OIDC Identity Provider (IdP). Developers can be automatically assigned to teams by mapping claims from thier IdP account.
      operationId: update-portal-authentication-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateAuthSettingsBadRequestExample1:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample1'
                UpdateAuthSettingsBadRequestExample2:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample2'
                UpdateAuthSettingsBadRequestExample3:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample3'
                UpdateAuthSettingsBadRequestExample4:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample4'
                UpdateAuthSettingsBadRequestExample5:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample5'
                UpdateAuthSettingsBadRequestExample6:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample6'
                UpdateAuthSettingsBadRequestExample7:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample7'
                UpdateAuthSettingsBadRequestExample8:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample8'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  parameters:
    pagination-offset:
      description: >-
        Offset from which to return the next set of resources. Use the value of the 'offset' field from the response of a list operation as input here to paginate through all the resources
      in: query
      name: offset
      schema:
        type: string
    pagination-size:
      description: Number of resources to be returned.
      in: query
      name: size
      schema:
        default: 100
        maximum: 1000
        minimum: 1
        type: integer
    pagination-tags-filter:
      description: >-
        A list of tags to filter the list of resources on. Multiple tags can be concatenated using ',' to mean AND or using '/' to mean OR.
      example: tag1,tag2
      in: query
      name: tags
      schema:
        type: string
      x-speakeasy-name-override: filter-tags
    service_id:
      name: service_id
      description: UUID of the service to lookup
      example: 7fca84d6-7d37-4a74-a7b0-93e576089a41
      in: path
      required: true
      schema:
        type: string
        format: uuid
      x-speakeasy-match: id
    consumer_id:
      name: consumer_id
      in: path
      schema:
        type: string
        example: e94215b0-9198-42ce-bf0b-98afff31b2a7
      description: The unique identifier or the username of the Consumer to retrieve.
      required: true
      x-speakeasy-match: id
    plugin_id_or_instance_name:
      name: plugin_id_or_instance_name
      in: path
      required: true
      schema:
        type: string
        example: response-ratelimiting
      description: The unique identifier of the Plugin to create or update.
      x-speakeasy-match: id
    controlPlaneId:
      name: controlPlaneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: >-
        The UUID of your control plane. This variable is available in the Konnect manager
    PortalId:
      schema:
        type: string
        format: uuid
      name: portalId
      in: path
      required: true
      description: ID of the portal.
  responses:
    RetrieveControlPlaneResponse:
      description: A response to retrieving a single control plane.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ControlPlane'
          examples:
            Single control plane response:
              $ref: '#/components/examples/ControlPlaneExample'
    CreateControlPlaneResponse:
      description: A response to creating a control plane.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ControlPlane'
          examples:
            Create Control Plane Response:
              $ref: '#/components/examples/ControlPlaneExample'
    UpdateControlPlaneResponse:
      description: A response to updating a control plane.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ControlPlane'
          examples:
            Update Control Plane Response:
              $ref: '#/components/examples/ControlPlaneExample'
    ControlPlanesBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
          examples:
            Request Format Invalid:
              $ref: '#/components/examples/400RequestFormatInvalidExample'
            Cannot Be Blank:
              $ref: '#/components/examples/400CannotBeBlankExample'
            Invalid ID Format:
              $ref: '#/components/examples/400InvalidIDFormatExample'
            Usage Limits Reached:
              $ref: '#/components/examples/400UsageLimitsReachedExample'
            Unknown Property:
              $ref: '#/components/examples/400UnknownPropertyExample'
    ControlPlanePermissionDenied:
      description: Permission denied
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            Permission Denied:
              $ref: '#/components/examples/403PermissionDeniedExample'
    ControlPlaneUnauthenticated:
      description: Unauthenticated
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            Unauthorized:
              $ref: '#/components/examples/401UnauthenticatedExample'
    ControlPlaneNotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
          examples:
            Not Found:
              $ref: '#/components/examples/404NotFoundExample'
    ControlPlaneConflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
          examples:
            Conflict:
              $ref: '#/components/examples/409ConflictExample'
    InternalServerError:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            title: InternalServerError
            type: object
            description: The error response object.
            properties:
              status:
                type: integer
                description: The HTTP status code.
                example: 500
                enum:
                  - 500
              title:
                type: string
                description: The error response code.
                example: Internal Server Error
              instance:
                type: string
                example: konnect:trace:2287285207635123011
                description: The Konnect traceback code
              detail:
                type: string
                example: >-
                  Could not propagate control plane changes to control plane cluster service.
                description: Details about the error.
            required:
              - status
              - title
              - instance
          examples:
            Internal Server Error:
              $ref: '#/components/examples/500InternalErrorExample'
    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/problem+json:
          schema:
            title: ServiceUnavailableError
            type: object
            description: Error response for temporary service unavailability.
            properties:
              status:
                type: integer
                description: The HTTP status code.
                example: 503
                enum:
                  - 503
              title:
                type: string
                description: The error response code.
                example: Service Unavailable
              instance:
                type: string
                example: konnect:trace:2287285207635123011
                description: The Konnect traceback code
              detail:
                type: string
                example: >-
                  Could not retrieve permissions to check resource accessibility.
                description: Details about the error.
            required:
              - status
              - title
              - instance
          examples:
            Service Unavailable:
              $ref: '#/components/examples/503PermissionReadFailureExample'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/ForbiddenExample'
            ForbiddenExample:
              $ref: '#/components/examples/ForbiddenExample'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
          examples:
            NotFoundExample:
              $ref: '#/components/examples/NotFoundExample'
    consumer-response-data:
      description: The consumer object response body
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                data:
                  - id: a4407883-c166-43fd-80ca-3ca035b0cdb7
                    created_at: 1422386534
                    username: my-username
                    custom_id: my-custom-id
                    tags:
                      - user-level
                      - low-priority
                  - id: 01c23299-839c-49a5-a6d5-8864c09184af
                    created_at: 1422386534
                    username: my-username
                    custom_id: my-custom-id
                    tags:
                      - admin
                      - high-priority
                      - critical
                next: >-
                  http://localhost:8001/consumers?offset=6378122c-a0a1-438d-a5c6-efabae9fb969
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: >-
                        The unique identifier or the name attribute of the consumer.
                      example: a4407883-c166-43fd-80ca-3ca035b0cdb7
                    created_at:
                      type: integer
                      description: Unix epoch when the resource was created.
                      example: 1422386534
                    username:
                      type: string
                      description: >-
                        The unique username of the consumer. You must send either this field or` custom_i`d with the request.
                      example: my-username
                    custom_id:
                      type: string
                      description: >-
                        Field for storing an existing unique ID for the Consumer - useful for mapping Kong with users in your existing database.
                      example: my-custom-id
                    updated_at:
                      type: string
                      description: Unix epoch when the resource was created.
                      example: '1422386534'
                    tags:
                      type: array
                      description: >
                        An optional set of strings associated with the Consumer for grouping and filtering.

                      items:
                        type: string
                        example: admin
              next:
                type: string
                description: Pagination information
                example: >-
                  http://localhost:8001/consumers?offset=6378122c-a0a1-438d-a5c6-efabae9fb969
    consumer-create-response:
      description: New consumer created response
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                id: ec1a1f6f-2aa4-4e58-93ff-b56368f19b27
                created_at: 1422386534
                username: my-username
                custom_id: my-custom-id
                tags:
                  - user-level
                  - low-priority
            properties:
              created_at:
                type: integer
                description: |
                  Unix epoch when the resource was created.
                example: 1684424758
              custom_id:
                type: string
                description: Field for the unique consumer ID
              id:
                type: string
                description: The unique id of the consumer.
                example: c1a1f6f-2aa4-4e58-93ff-b56368f19b27
              tags:
                type: array
                description: >-
                  An optional set of strings associated with the Consumer for grouping and filtering.
                items:
                  type: string
              updated_at:
                type: integer
                description: |
                  Unix epoch when the resource was updated.
                example: 1684424758
              username:
                type: string
                description: The unique username of the consumer.
          examples:
            Example 1:
              value:
                created_at: 1684424758
                custom_id: string
                id: c1a1f6f-2aa4-4e58-93ff-b56368f19b27
                tags:
                  - string
                updated_at: 1684424758
                username: string
    service-response:
      description: >-
        The service response object is returned when creating a new service or retreiving an existing service.
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                connect_timeout: 6000
                created_at: 1684437851
                enabled: true
                host: example.com
                id: ebf4e826-b17a-4e23-9d58-2621c9faa135
                name: my-service
                path: /some_api
                port: 80
                protocol: http
                read_timeout: 6000
                retries: 5
                updated_at: 1684437851
                write_timeout: 6000
            properties:
              connect_timeout:
                type: integer
              created_at:
                type: integer
                description: Unix epoch when the resource was last created.
              enabled:
                type: boolean
                description: Service enabled boolean
              host:
                type: string
              id:
                type: string
              name:
                type: string
              path:
                type: string
              port:
                type: integer
              protocol:
                type: string
              read_timeout:
                type: integer
              retries:
                type: integer
              updated_at:
                type: integer
              write_timeout:
                type: integer
          examples:
            Returned Service:
              value:
                connect_timeout: 0
                created_at: 0
                enabled: true
                host: string
                id: string
                name: string
                path: string
                port: 0
                protocol: string
                read_timeout: 0
                retries: 0
                updated_at: 0
                write_timeout: 0
    ApiProductUnauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    ApiProductNotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
          examples:
            NotFoundExample:
              $ref: '#/components/examples/NotFoundExample'
    APIProductResponse:
      description: API product
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIProduct'
          examples:
            Create API Product Response:
              $ref: '#/components/examples/APIProductExample'
    APIProductVersionResponse:
      description: API product
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIProductVersion'
          examples:
            Create API Product Response:
              $ref: '#/components/examples/APIProductVersionExample'
    UnsupportedMediaType:
      description: Unsupported Media Type
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnsupportedMediaTypeError'
          examples:
            UnsupportedMediaTypeExample:
              $ref: '#/components/examples/UnsupportedMediaTypeExample'
    PortalAuthenticationSettings:
      description: Details about a portal's authentication settings.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAuthenticationSettingsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/PortalAuthenticationSettingsExample1'
    UpdatePortal:
      description: Details about the portal being updated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdatePortalResponseExample1'
  schemas:
    CreateControlPlaneRequest:
      title: CreateControlPlaneRequest
      description: The request schema for the create control plane request.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          example: Test Control Plane
          description: The name of the control plane.
        description:
          type: string
          example: A test control plane for exploration.
          description: The description of the control plane in Konnect.
        cluster_type:
          type: string
          description: >-
            The ClusterType value of the cluster associated with the Control Plane.
          example: CLUSTER_TYPE_HYBRID
          enum:
            - CLUSTER_TYPE_HYBRID
            - CLUSTER_TYPE_K8S_INGRESS_CONTROLLER
            - CLUSTER_TYPE_CONTROL_PLANE_GROUP
        auth_type:
          type: string
          description: >-
            The auth type value of the cluster associated with the Runtime Group.
          example: pinned_client_certs
          enum:
            - pinned_client_certs
            - pki_client_certs
        cloud_gateway:
          type: boolean
          description: Whether this control-plane can be used for cloud-gateways.
          example: false
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - name
    UpdateControlPlaneRequest:
      title: UpdateControlPlaneRequest
      description: The request schema for the update control plane request.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          example: Test Control Plane
          description: The name of the control plane.
        description:
          type: string
          example: A test control plane for exploration.
          description: The description of the control plane in Konnect.
        auth_type:
          type: string
          description: >-
            The auth type value of the cluster associated with the Runtime Group.
          example: pinned_client_certs
          enum:
            - pinned_client_certs
            - pki_client_certs
        labels:
          $ref: '#/components/schemas/Labels'
    ControlPlane:
      x-speakeasy-entity: GatewayControlPlane
      allOf:
        - $ref: '#/components/schemas/ControlPlaneSummary'
        - type: object
          properties:
            labels:
              $ref: '#/components/schemas/Labels'
            config:
              x-speakeasy-param-suppress-computed-diff: true
              type: object
              description: CP configuration object for related access endpoints.
              properties:
                control_plane_endpoint:
                  type: string
                  format: url
                  example: https://acfe5f253f.cp0.konghq.com
                  description: Control Plane Endpoint.
                  readOnly: true
                telemetry_endpoint:
                  type: string
                  format: url
                  example: https://acfe5f253f.tp0.konghq.com
                  description: Telemetry Endpoint.
                  readOnly: true
            created_at:
              x-speakeasy-terraform-ignore: true
              type: string
              format: date-time
              example: '2022-11-04T20:10:06.927Z'
              description: >-
                An ISO-8604 timestamp representation of control plane creation date.
              readOnly: true
            updated_at:
              x-speakeasy-terraform-ignore: true
              type: string
              format: date-time
              example: '2022-11-04T20:10:06.927Z'
              description: >-
                An ISO-8604 timestamp representation of control plane update date.
              readOnly: true
      x-examples:
        Example 1:
          id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          name: Test Control Plane
          description: A test control plane for exploration.
          labels:
            env: test
          config:
            control_plane_endpoint: https://acfe5f253f.cp0.konghq.com
            telemetry_endpoint: https://acfe5f253f.tp0.konghq.com
            cluster_type: CLUSTER_TYPE_HYBRID
            auth_type: pinned_client_certs
            cloud_gateway: false
          created_at: '2022-11-04T20:10:06.927Z'
          updated_at: '2022-11-04T20:10:06.927Z'
    ControlPlaneSummary:
      title: ControlPlaneSummary
      type: object
      description: >-
        The control plane object contains information about a Kong control plane.
      additionalProperties: false
      properties:
        id:
          x-speakeasy-param-suppress-computed-diff: true
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          description: The control plane ID.
          readOnly: true
        name:
          type: string
          example: Test Control Plane
          description: The name of the control plane.
        description:
          type: string
          example: A test control plane for exploration.
          description: The description of the control plane in Konnect.
        labels:
          $ref: '#/components/schemas/Labels'
        config:
          type: object
          description: CP configuration object for related access endpoints.
          additionalProperties: false
          properties:
            control_plane_endpoint:
              type: string
              format: url
              example: https://acfe5f253f.cp0.konghq.com
              description: Control Plane Endpoint.
              readOnly: true
            telemetry_endpoint:
              type: string
              format: url
              example: https://acfe5f253f.tp0.konghq.com
              description: Telemetry Endpoint.
              readOnly: true
            cluster_type:
              type: string
              description: >-
                The ClusterType value of the cluster associated with the Control Plane.
              example: CLUSTER_TYPE_HYBRID
              enum:
                - CLUSTER_TYPE_HYBRID
                - CLUSTER_TYPE_K8S_INGRESS_CONTROLLER
                - CLUSTER_TYPE_CONTROL_PLANE_GROUP
              readOnly: true
            auth_type:
              type: string
              description: >-
                The auth type value of the cluster associated with the Runtime Group.
              example: pinned_client_certs
              enum:
                - pinned_client_certs
                - pki_client_certs
              readOnly: true
            cloud_gateway:
              type: boolean
              description: Whether the Control Plane can be used for cloud-gateways.
              readOnly: true
          required:
            - control_plane_endpoint
            - telemetry_endpoint
            - cluster_type
            - auth_type
            - cloud_gateway
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    GroupStatus:
      title: GroupStatus
      type: object
      description: >-
        The Group Status object contains information about the status of a control plane group.
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          description: The control plane group ID.
          readOnly: true
        created_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: >-
            An ISO-8604 timestamp representation of control plane group status creation date.
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: >-
            An ISO-8604 timestamp representation of control plane group status update date.
          readOnly: true
        conflicts:
          type: array
          maxItems: 256
          items:
            $ref: '#/components/schemas/GroupConflict'
        state:
          type: string
          description: The state of the control plane group.
          example: CONFLICT
          readOnly: true
          enum:
            - OK
            - CONFLICT
            - UNKNOWN
    GroupConflict:
      title: GroupConflict
      type: object
      description: >-
        The Group Conflict object contains information about a conflict in a control plane group.
      properties:
        cluster_id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          description: The ID of a control plane member of a control plane group.
          readOnly: true
        description:
          type: string
          example: >-
            conflicting entity found: ID=38d790ad-8b08-4ff5-a074-2e1e9e64d8bd, Name=foo
          description: The description of the conflict.
          readOnly: true
        resource:
          $ref: '#/components/schemas/GroupConflictResource'
    GroupConflictResource:
      title: GroupConflictResource
      type: object
      description: A resource causing a conflict in a control plane group.
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          description: The ID of the resource.
          readOnly: true
        type:
          type: string
          example: service
          description: The type of the resource.
          readOnly: true
      required:
        - id
        - type
    GroupMemberStatus:
      title: GroupMemberStatus
      type: object
      description: >-
        Object with information determining the group membership status of a control plane.
      properties:
        is_member:
          type: boolean
          example: true
          description: >-
            Boolean indicating if a control plane is a member of a control plane group.
          readOnly: true
      required:
        - is_member
    Labels:
      x-speakeasy-type-override: any
      title: Labels
      type: object
      example:
        env: test
      description: >-
        Labels to facilitate tagged search on control planes. Keys must be of length 1-63 characters, and cannot start with 'kong', 'konnect', 'mesh', 'kic', or '_'.
      additionalProperties:
        type: string
        pattern: ^[a-z0-9A-Z]{1}([a-z0-9A-Z\-\.\_]*[a-z0-9A-Z]+)?$
        minLength: 1
        maxLength: 63
    PageMeta:
      type: object
      description: >-
        Contains pagination query parameters and the total number of objects returned.
      required:
        - number
        - size
        - total
      properties:
        number:
          type: number
          example: 1
        size:
          type: number
          example: 10
        total:
          type: number
          example: 100
    PaginatedMeta:
      type: object
      title: PaginatedMeta
      description: returns the pagination information
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
        - page
    BaseError:
      type: object
      title: Error
      description: standard error
      required:
        - status
        - title
        - instance
        - detail
      properties:
        status:
          type: integer
          description: >
            The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

          readOnly: true
        title:
          type: string
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          readOnly: true
        type:
          type: string
          description: The error type.
          readOnly: true
        instance:
          type: string
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          readOnly: true
        detail:
          type: string
          description: >
            A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

          readOnly: true
    InvalidRules:
      description: invalid parameters rules
      type: string
      readOnly: true
      nullable: true
      enum:
        - required
        - enum
        - min_length
        - max_length
        - min_digits
        - min_lowercase
        - min_uppercase
        - min_symbols
        - is_array
        - is_base64
        - is_boolean
        - is_date_time
        - is_integer
        - is_null
        - is_number
        - is_object
        - is_string
        - is_uuid
        - unknown_property
        - is_label
        - matches_regex
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          uniqueItems: true
          nullable: true
          items: {}
          readOnly: true
      required:
        - field
        - reason
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          readOnly: true
          nullable: true
          enum:
            - dependent_fields
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          uniqueItems: true
          nullable: true
          items: {}
          readOnly: true
      required:
        - field
        - rule
        - reason
        - dependents
    InvalidParameters:
      type: array
      nullable: false
      uniqueItems: true
      minItems: 1
      description: invalid parameters
      items:
        $ref: '#/components/schemas/InvalidParameterChoiceItem'
    BadRequestError:
      type: object
      required:
        - invalid_parameters
      properties:
        status:
          example: 400
        title:
          example: Bad Request
        type:
          example: https://httpstatuses.com/400
        instance:
          example: kong:trace:1234567890
        detail:
          example: Invalid request body
        invalid_parameters:
          $ref: '#/components/schemas/InvalidParameters'
      allOf:
        - $ref: '#/components/schemas/BaseError'
    UnauthorizedError:
      type: object
      properties:
        status:
          example: 401
        title:
          example: Unauthorized
        type:
          example: https://httpstatuses.com/401
        instance:
          example: kong:trace:1234567890
        detail:
          example: Invalid credentials
      allOf:
        - $ref: '#/components/schemas/BaseError'
    ForbiddenError:
      type: object
      properties:
        status:
          example: 403
        title:
          example: Forbidden
        type:
          example: https://httpstatuses.com/403
        instance:
          example: kong:trace:1234567890
        detail:
          example: Forbidden
      allOf:
        - $ref: '#/components/schemas/BaseError'
    ConflictError:
      type: object
      properties:
        status:
          example: 409
        title:
          example: Conflict
        type:
          example: https://httpstatuses.com/409
        instance:
          example: kong:trace:1234567890
        detail:
          example: Conflict
      allOf:
        - $ref: '#/components/schemas/BaseError'
    NotFoundError:
      type: object
      properties:
        status:
          example: 404
        title:
          example: Not Found
        type:
          example: https://httpstatuses.com/404
        instance:
          example: kong:trace:1234567890
        detail:
          example: Not found
      allOf:
        - $ref: '#/components/schemas/BaseError'
    Consumer:
      description: >-
        The Consumer object represents a consumer - or a user - of a service. You can either rely on Kong as the primary datastore, or you can map the consumer list with your database to keep consistency between Kong and your existing primary datastore.
      example:
        custom_id: '4200'
        id: 8a388226-80e8-4027-a486-25e4f7db5d21
        tags:
          - silver-tier
        username: bob-the-builder
      properties:
        created_at:
          description: Unix epoch when the resource was created.
          type: integer
        updated_at:
          description: Unix epoch when the resouce was updated.
          type: integer
          example: 1422386534
        custom_id:
          description: >-
            Field for storing an existing unique ID for the Consumer - useful for mapping Kong with users in your existing database. You must send either this field or `username` with the request.
          type: string
        id:
          type: string
        tags:
          description: >-
            An optional set of strings associated with the Consumer for grouping and filtering.
          items:
            type: string
          type: array
        username:
          description: >-
            The unique username of the Consumer. You must send either this field or `custom_id` with the request.
          type: string
      type: object
      title: Consumer
      x-speakeasy-entity: Consumer
    Plugin:
      description: >-
        A Plugin entity represents a plugin configuration that will be executed during the HTTP request/response lifecycle.
      example:
        config:
          anonymous: null
          hide_credentials: false
          key_in_body: false
          key_in_header: true
          key_in_query: true
          key_names:
            - apikey
          run_on_preflight: true
        enabled: true
        id: 3fd1eea1-885a-4011-b986-289943ff8177
        name: key-auth
        protocols:
          - grpc
          - grpcs
          - http
          - https
      properties:
        config:
          description: >-
            The configuration properties for the Plugin which can be found on the plugins documentation page in the [Kong Hub](https://docs.konghq.com/hub/).
          type: object
          x-speakeasy-type-override: any
        consumer:
          additionalProperties: false
          description: >-
            If set, the plugin will activate only for requests where the specified has been authenticated. (Note that some plugins can not be restricted to consumers this way.). Leave unset for the plugin to activate regardless of the authenticated Consumer.
          properties:
            id:
              type: string
          type: object
        created_at:
          description: Unix epoch when the resource was created.
          type: integer
        enabled:
          default: true
          description: Whether the plugin is applied.
          type: boolean
        id:
          type: string
        instance_name:
          type: string
        name:
          description: >-
            The name of the Plugin that's going to be added. Currently, the Plugin must be installed in every Kong instance separately.
          type: string
        ordering:
          type: object
        protocols:
          default:
            - grpc
            - grpcs
            - http
            - https
          description: >-
            A list of the request protocols that will trigger this plugin. The default value, as well as the possible values allowed on this field, may change depending on the plugin type. For example, plugins that only work in stream mode will only support `tcp` and `tls`.
          items:
            type: string
          type: array
        route:
          additionalProperties: false
          description: >-
            If set, the plugin will only activate when receiving requests via the specified route. Leave unset for the plugin to activate regardless of the route being used.
          properties:
            id:
              type: string
          type: object
        service:
          additionalProperties: false
          description: >-
            If set, the plugin will only activate when receiving requests via one of the routes belonging to the specified service. Leave unset for the plugin to activate regardless of the service being matched.
          properties:
            id:
              type: string
          type: object
        tags:
          description: >-
            An optional set of strings associated with the Plugin for grouping and filtering.
          items:
            type: string
          type: array
      type: object
      title: Plugin
      x-speakeasy-entity: Plugin
    Route:
      description: >-
        Route entities define rules to match client requests. Every request matching a given route will be proxied to its associated service.
      example:
        hosts:
          - foo.example.com
          - foo.example.us
        id: 56c4566c-14cc-4132-9011-4139fcbbe50a
        name: example-route
        paths:
          - /v1
          - /v2
        service:
          id: bd380f99-659d-415e-b0e7-72ea05df3218
      type: object
      title: Route
      properties:
        created_at:
          description: Unix epoch when the resource was created.
          type: integer
          x-speakeasy-param-suppress-computed-diff: true
        destinations:
          description: >-
            A list of IP destinations of incoming connections that match this route when using stream routing. Each entry is an object with fields ip (optionally in CIDR range notation) and/or port.
          type: array
          items:
            type: object
            properties:
              ip:
                type: string
                example: 0.1.0.0/16
              port:
                type: integer
        headers:
          description: >-
            One or more lists of values indexed by header name that will cause this route to match if present in the request. The `Host` header cannot be used with this attribute: hosts should be specified using the `hosts` attribute. When `headers` contains only one value and that value starts with the special prefix `~*`, the value is interpreted as a regular expression.
          type: object
        hosts:
          description: >-
            A list of domain names that match this route. Note that the hosts value is case sensitive.
          type: array
          items:
            type: string
            example: foo.example.com
        https_redirect_status_code:
          default: 426
          description: >-
            The status code Kong responds with when all properties of a route match except the protocol i.e. if the protocol of the request is `HTTP` instead of `HTTPS`. `Location` header is injected by Kong if the field is set to 301, 302, 307 or 308. Note: This config applies only if the route is configured to only accept the `https` protocol.
          type: integer
        id:
          type: string
          example: 56c4566c-14cc-4132-9011-4139fcbbe50a
          x-speakeasy-param-suppress-computed-diff: true
        methods:
          description: A list of HTTP methods that match this route.
          type: array
          items:
            type: string
        name:
          description: >-
            The name of the route. Route names must be unique, and they are case sensitive. For example, there can be two different routes named test and Test.
          type: string
        path_handling:
          default: v0
          description: >-
            Controls how the service path, route path and requested path are combined when sending a request to the upstream. See above for a detailed description of each behavior.
          type: string
        paths:
          description: A list of paths that match this route.
          type: array
          items:
            type: string
        preserve_host:
          default: false
          description: >-
            When matching a route via one of the `hosts` domain names, use the request `Host` header in the upstream request headers. If set to `false`, the upstream `Host` header will be that of the service's `host`.
          type: boolean
        protocols:
          default:
            - http
            - https
          description: >-
            An array of the protocols this route should allow. See the [route Object](#route-object) section for a list of accepted protocols. When set to only `https`, HTTP requests are answered with an upgrade error. When set to only `http`, HTTPS requests are answered with an error.
          type: array
          items:
            type: string
        regex_priority:
          default: 0
          description: >-
            A number used to choose which route resolves a given request when several routes match it using regexes simultaneously. When two routes match the path and have the same `regex_priority`, the older one (lowest `created_at`) is used. Note that the priority for non-regex routes is different (longer non-regex routes are matched before shorter ones).
          type: integer
        request_buffering:
          default: true
          description: >-
            Whether to enable request body buffering or not. With HTTP 1.1, it may make sense to turn this off on services that receive data with chunked transfer encoding.
          type: boolean
        response_buffering:
          default: true
          description: >-
            Whether to enable response body buffering or not. With HTTP 1.1, it may make sense to turn this off on services that send data with chunked transfer encoding.
          type: boolean
        service:
          additionalProperties: false
          description: >-
            The service this route is associated to. This is where the route proxies traffic to.
          type: object
          properties:
            id:
              type: string
        snis:
          description: A list of SNIs that match this route when using stream routing.
          type: array
          items:
            type: string
        sources:
          description: >-
            A list of IP sources of incoming connections that match this route when using stream routing. Each entry is an object with fields ip (optionally in CIDR range notation) and/or port.
          type: array
          items:
            type: object
            properties:
              ip:
                type: string
                example: 0.1.0.0/16
              port:
                type: integer
        strip_path:
          default: true
          description: >-
            When matching a route via one of the `paths`, strip the matching prefix from the upstream request URL.
          type: boolean
        tags:
          description: >-
            An optional set of strings associated with the route for grouping and filtering.
          type: array
          items:
            type: string
        updated_at:
          description: Unix epoch when the resource was last updated.
          type: integer
          x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-entity: Route
    StringFieldContainsFilter:
      type: object
      title: StringFieldContainsFilter
      description: Filters on the given string field value by fuzzy match.
      properties:
        contains:
          type: string
      required:
        - contains
      additionalProperties: false
      x-examples:
        example-1:
          contains: some-value
    APIProductLabels:
      title: Labels
      type: object
      description: >
        description: A maximum of 5 user-defined labels are allowed on this resource.

        Keys must not start with kong, konnect, insomnia, mesh, kic or _, which are reserved for Kong.

        Keys are case-sensitive.

      additionalProperties:
        type: string
        pattern: ^[a-z0-9A-Z]{1}([a-z0-9A-Z\-._]*[a-z0-9A-Z]+)?$
        minLength: 1
        maxLength: 63
      default: {}
    APIProductFilterParameters:
      title: APIProductFilterParameters
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
    APIProductVersionFilterParameters:
      title: APIProductVersionFilterParameters
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        publish_status:
          $ref: '#/components/schemas/StringFieldFilter'
    SortQuery:
      title: SortQuery
      type: string
      example: name desc
      description: >
        The `asc` suffix is optional as the default sort order is ascending.

        The `desc` suffix is used to specify a descending order.

        Multiple sort attributes may be provided via a comma separated list.

        JSONPath notation may be used to specify a sub-attribute (eg: 'foo.bar desc').

    APIProduct:
      x-speakeasy-entity: ApiProduct
      title: API Product
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - description
        - portal_ids
        - created_at
        - updated_at
        - labels
        - version_count
      properties:
        id:
          type: string
          format: uuid
          example: b9e81174-b5bb-4638-a3c3-8afe61a0abf8
          description: The API product ID.
          readOnly: true
        name:
          type: string
          description: The name of the API product
          example: My Name
        description:
          type: string
          nullable: true
          description: The description of the API product
          example: MyDescription
        portal_ids:
          type: array
          nullable: false
          uniqueItems: true
          minItems: 0
          description: >-
            The list of portal identifiers which this API product is published to
          items:
            type: string
            format: uuid
            example: 25a2624c-49fc-4764-99e1-224ed819f200
        version_count:
          type: number
          example: 10
          description: The number of product versions attached to this API product
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        labels:
          $ref: '#/components/schemas/APIProductLabels'
    APIProductDocumentSummary:
      title: API Product Document Summary
      type: object
      additionalProperties: false
      required:
        - id
        - parent_document_id
        - slug
        - title
        - status
      properties:
        id:
          type: string
          format: uuid
          example: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
          description: The API product document identifier.
          readOnly: true
        parent_document_id:
          type: string
          format: uuid
          nullable: true
          description: The parent API product document identifier.
          example: null
        slug:
          type: string
          pattern: ^[\w-]+$
          description: API product document slug
          example: api-product-document
        status:
          $ref: '#/components/schemas/PublishStatus'
        title:
          type: string
          description: API product document title
          example: API Product Document
    APIProductDocument:
      type: object
      title: ApiProductDocument
      description: an api product document
      required:
        - id
        - parent_document_id
        - title
        - slug
        - status
        - metadata
        - ast
        - updated_at
        - created_at
      properties:
        id:
          type: string
          format: uuid
        parent_document_id:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
        slug:
          type: string
        status:
          type: string
          enum:
            - unpublished
            - published
        metadata:
          type: object
        ast:
          type: array
          items:
            $ref: '#/components/schemas/ChildNode'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
    APIProductVersion:
      x-speakeasy-entity: ApiProductVersion
      title: API Product Version
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - gateway_service
        - publish_status
        - deprecated
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          description: The API product version identifier.
          readOnly: true
        name:
          type: string
          description: The version of the API product
          example: FirstVersion
        gateway_service:
          type: object
          nullable: true
          additionalProperties: false
          required:
            - id
            - control_plane_id
          properties:
            id:
              type: string
              format: uuid
              nullable: true
              description: >-
                The identifier of a gateway service associated with the version of the API product.
              example: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
            runtime_group_id:
              type: string
              format: uuid
              deprecated: true
              description: >-
                This field is deprecated, please use `control_plane_id` instead. The identifier of the control plane that the gateway service resides in
              example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
            control_plane_id:
              type: string
              format: uuid
              description: >-
                The identifier of the control plane that the gateway service resides in
              example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
        publish_status:
          type: string
          description: The publish status of the API product version
          enum:
            - unpublished
            - published
          example: unpublished
        deprecated:
          type: boolean
          description: Indicates if this API product version is deprecated
          example: false
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
    APIProductVersionSpec:
      title: API Product Version Spec
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - content
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
          description: The API product version specification identifier.
          readOnly: true
        name:
          type: string
          description: The name of the API product version specification
          example: oas.yaml
        content:
          type: string
          description: The contents of the API product version specification
          example: My YAML or JSON formatted OAS content
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
    CreateAPIProductDTO:
      x-speakeasy-entity: ApiProductVersion
      title: Create API Product Request
      description: The request schema to create an API product.
      type: object
      additionalProperties: false
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: API Product
          description: The name of the API product.
        description:
          type: string
          nullable: true
          example: Text describing the API product
          description: The description of the API product.
          default: null
        labels:
          $ref: '#/components/schemas/APIProductLabels'
    UpdateAPIProductDTO:
      x-speakeasy-entity: ApiProductVersion
      title: Update API Product Request
      description: The request schema for updating an API product.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: API Product
          description: The name for the API product.
        description:
          type: string
          nullable: true
          example: Text describing the API product
          description: The description of the API product.
        labels:
          $ref: '#/components/schemas/APIProductLabels'
        portal_ids:
          type: array
          nullable: false
          uniqueItems: true
          minItems: 0
          description: >-
            The list of portal identifiers which this API product should be published to
          items:
            type: string
            format: uuid
            example: 25a2624c-49fc-4764-99e1-224ed819f200
    CreateAPIProductVersionDTO:
      title: Create API Product Version Request
      description: The request schema to create a version of an API product.
      type: object
      additionalProperties: false
      required:
        - name
      properties:
        name:
          type: string
          nullable: false
          minLength: 1
          example: v1
          description: The version name of the API product version.
        publish_status:
          type: string
          nullable: false
          description: The publish status of the API product version.
          enum:
            - unpublished
            - published
          example: unpublished
          default: unpublished
        deprecated:
          type: boolean
          nullable: false
          description: Indicates if the version of the API product is deprecated.
          example: false
          default: false
        gateway_service:
          $ref: '#/components/schemas/GatewayServicePayload'
    CreateAPIProductVersionSpecDTO:
      title: Create API Product Version Specification Request
      description: >-
        The request schema to create a specification for a version of an API product.
      type: object
      additionalProperties: false
      required:
        - name
        - content
      properties:
        name:
          type: string
          nullable: false
          pattern: ^.+(?:\.yaml|\.yml|\.json)$
          minLength: 1
          maxLength: 255
          example: oas.yaml
          description: The name of the API product version specification
        content:
          type: string
          format: byte
          minLength: 1
          example: TXkgWUFNTCBvciBKU09OIGZvcm1hdHRlZCBPQVMgY29udGVudA==
          description: The base64 encoded contents of the API product version specification
    CreateAPIProductDocumentDTO:
      type: object
      title: CreateDocumentPayload
      description: a document payload
      required:
        - slug
        - status
        - title
        - content
      properties:
        parent_document_id:
          type: string
          format: uuid
          nullable: true
          description: parent document id
          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
          default: null
        slug:
          type: string
          maxLength: 80
          pattern: ^[\w-]+$
          description: >-
            document slug. must be unique accross documents belonging to an api product
          example: path-for-seo
        status:
          $ref: '#/components/schemas/PublishStatus'
        title:
          type: string
          minLength: 1
          description: document title
          example: How to create a document in Konnect DocumentHub
        content:
          type: string
          format: byte
          description: Must be a base64 encoded string
          example: YmFzZTY0LWVuY29kZWQgdGV4dCBzdHJpbmc=
        metadata:
          type: object
          nullable: false
          description: metadata of the document
          example:
            author: John Doe
          default: {}
    UpdateAPIProductDocumentDTO:
      type: object
      title: UpdateDocumentAttributesAndContentPayload
      description: a document payload
      properties:
        parent_document_id:
          type: string
          format: uuid
          nullable: true
          description: >
            Parent document Id. If this value is explicitly set to null, the

            document will be put as a top level document at the bottom of the tree.

          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
        slug:
          type: string
          pattern: ^[\w-]+$
          maxLength: 80
          description: >-
            document slug. must be unique accross documents belonging to an api product
          example: path-for-seo
        status:
          $ref: '#/components/schemas/PublishStatus'
        title:
          type: string
          minLength: 1
          description: document title
          example: How to update a document in Konnect DocumentHub
        content:
          type: string
          format: byte
          description: base64 encoded string of the document content
          example: YmFzZTY0LWVuY29kZWQgdGV4dCBzdHJpbmc=
        metadata:
          type: object
          nullable: false
    UpdateAPIProductVersionDTO:
      title: Update API Product Version Request
      description: The request schema for updating a version of an API product.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          example: v1
          description: The version name of the API product version.
        publish_status:
          type: string
          description: The publish status of the API product version.
          enum:
            - unpublished
            - published
          example: unpublished
        deprecated:
          type: boolean
          description: Indicates if the version of the API product is deprecated.
          example: false
        notify:
          type: boolean
          description: >
            When set to `true`, and all the following conditions are true:

            - version of the API product deprecation has changed from `false` -> `true`

            - version of the API product is published


            then consumers of the now deprecated verion of the API product will be notified.

          example: true
        gateway_service:
          $ref: '#/components/schemas/GatewayServicePayload'
    UpdateAPIProductVersionSpecDTO:
      title: Update API Product Version Specification Request
      description: >-
        The request schema for updating a specification for a version of an API product.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          nullable: false
          pattern: ^.+(?:\.yaml|\.yml|\.json)$
          minLength: 1
          maxLength: 255
          example: oas.yaml
          description: The name of the API product version specification
        content:
          type: string
          format: byte
          minLength: 1
          example: TXkgWUFNTCBvciBKU09OIGZvcm1hdHRlZCBPQVMgY29udGVudA==
          description: The base64 encoded contents of the API product version specification
    LegacyGatewayServicePayload:
      type: object
      nullable: true
      additionalProperties: false
      required:
        - id
        - runtime_group_id
      properties:
        id:
          type: string
          format: uuid
          description: >-
            The identifier of a gateway service associated with the version of the API product.
          example: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
        runtime_group_id:
          type: string
          format: uuid
          deprecated: true
          description: >-
            The identifier of the control plane that the gateway service resides in
          example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
    GatewayServicePayload:
      type: object
      nullable: true
      additionalProperties: false
      required:
        - id
        - control_plane_id
      properties:
        id:
          type: string
          format: uuid
          description: >-
            The identifier of a gateway service associated with the version of the API product.
          example: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
        control_plane_id:
          type: string
          format: uuid
          description: >-
            The identifier of the control plane that the gateway service resides in
          example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
    StringFieldEqualsFilter:
      title: StringFieldEqualsFilter
      description: Filters on the given string field value by exact match.
      oneOf:
        - type: string
        - type: object
          title: StringFieldEqualsComparison
          additionalProperties: false
          properties:
            eq:
              type: string
          required:
            - eq
      x-examples:
        example-1: equals-some-value
        example-2:
          eq: some-value
    StringFieldOContainsFilter:
      title: StringFieldOContainsFilter
      description: >-
        Returns entities that fuzzy-match any of the comma-delimited phrases in the filter string.
      type: object
      additionalProperties: false
      properties:
        ocontains:
          type: string
      required:
        - ocontains
      x-examples:
        example-1:
          ocontains: this-value,or-that-value
    StringFieldOEQFilter:
      title: StringFieldOEQFilter
      description: >-
        Returns entities that exact match any of the comma-delimited phrases in the filter string.
      type: object
      additionalProperties: false
      properties:
        oeq:
          type: string
      required:
        - oeq
      x-examples:
        example-1:
          oeq: some-value,some-other-value
    StringFieldNEQFilter:
      title: StringFieldNEQFilter
      description: Filters on the given string field value by exact match inequality.
      type: object
      additionalProperties: false
      properties:
        neq:
          type: string
      required:
        - neq
      x-examples:
        example-1:
          neq: not-this-value
    StringFieldFilter:
      title: StringFieldFilter
      description: Filters on the given string field value by either exact or fuzzy match.
      oneOf:
        - $ref: '#/components/schemas/StringFieldEqualsFilter'
        - $ref: '#/components/schemas/StringFieldContainsFilter'
        - $ref: '#/components/schemas/StringFieldOContainsFilter'
        - $ref: '#/components/schemas/StringFieldOEQFilter'
        - $ref: '#/components/schemas/StringFieldNEQFilter'
      x-examples:
        example-1: equals-some-value
        example-2:
          eq: some-value
        example-3:
          contains: some-value
        example-4:
          ocontains: some-potential,value
        example-5:
          oeq: some-potential,value
        example-6:
          neq: not-this-value
    CreatedAt:
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      description: An ISO-8601 timestamp representation of entity creation date.
      readOnly: true
    UpdatedAt:
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      description: An ISO-8601 timestamp representation of entity update date.
      readOnly: true
    UnsupportedMediaTypeError:
      type: object
      properties:
        status:
          example: 415
        title:
          example: UnsupportedMediaType
        type:
          example: https://httpstatuses.com/415
        instance:
          example: kong:trace:1234567890
        detail:
          example: UnsupportedMediaType
      allOf:
        - $ref: '#/components/schemas/BaseError'
    PublishStatus:
      description: document publish status
      type: string
      enum:
        - published
        - unpublished
    DocumentTree:
      type: object
      title: DocumentTree
      description: a document tree
      required:
        - id
        - title
        - slug
        - metadata
        - children
        - status
      properties:
        id:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        parent_document_id:
          type: string
          format: uuid
          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
          nullable: true
        title:
          type: string
        slug:
          type: string
          description: document slug
          example: path-for-seo
        metadata:
          type: object
          description: metadata of the document
          example:
            author: John Doe
        status:
          $ref: '#/components/schemas/PublishStatus'
    ChildNode:
      type: object
      oneOf:
        - $ref: '#/components/schemas/HeadingBlock'
        - $ref: '#/components/schemas/BlockQuoteBlock'
        - $ref: '#/components/schemas/ParagraphBlock'
        - $ref: '#/components/schemas/TextBlock'
        - $ref: '#/components/schemas/BreakBlock'
        - $ref: '#/components/schemas/CodeBlock'
        - $ref: '#/components/schemas/ListBlock'
        - $ref: '#/components/schemas/ListItemBlock'
        - $ref: '#/components/schemas/Text'
        - $ref: '#/components/schemas/Emphasis'
        - $ref: '#/components/schemas/Code'
        - $ref: '#/components/schemas/Link'
        - $ref: '#/components/schemas/Image'
        - $ref: '#/components/schemas/StrikeThrough'
        - $ref: '#/components/schemas/TableBlock'
        - $ref: '#/components/schemas/TableHeaderBlock'
        - $ref: '#/components/schemas/TableCellBlock'
        - $ref: '#/components/schemas/TableRowBlock'
        - $ref: '#/components/schemas/TaskCheckbox'
      discriminator:
        propertyName: type
    NodeChildren:
      description: List of children nodes of the current node
      type: array
      items:
        $ref: '#/components/schemas/ChildNode'
    HeadingBlock:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - heading
[...]
